<VirtualHost *:443>

  ServerName www.example.com
  ServerAdmin webmaster@example.com


  # 2. Allow Apache to access the export and resources folders directly
  # 3. Set logging behavior (optional)
  ErrorLog ${APACHE_LOG_DIR}/errors_www.example.com.log
  CustomLog ${APACHE_LOG_DIR}/access_www.example.com.log combined

  # 4. Enable rewriting
  RewriteEngine On
  LogLevel mod_rewrite.c:trace1

  # Enable ssl
  SSLEngine On
  SSLProxyEngine On
  SSLCertificateFile /etc/ssl/certs/self_signed.crt
  SSLCertificateKeyFile /etc/ssl/certs/self_signed.key
  # 5. (Optional) Allow workplace access only via a secure site
  # Redirect all workplace requests to the secure workplace server (if present)
  # This is only needed if the OpenCms installation has one configured website
  #RewriteRule ^/system/login(.*) https://opencms.example.com/system/login$1 [R=301,L]
  #RewriteRule ^/system/workplace(.*) https://opencms.example.com/system/workplace$1 [R=301,L]

  # 6. (Optional) Deny access to PHP files
  #RewriteCond %{REQUEST_FILENAME} (.+)\.php(.*)
  #RewriteRule (.*) / [F]


  # 7. Add opencms/ prefix if required
  #RewriteCond %{REQUEST_URI} !^/workplace.*$    # required since OpenCms 10
  #RewriteCond %{REQUEST_URI} !^/VAADIN/.*$       # required since OpenCms 10
  #RewriteCond %{REQUEST_URI} !^/resources/.*$
  #RewriteCond %{REQUEST_URI} !^/export/.*$
  #RewriteCond %{REQUEST_URI} !^/webdav.*$
  #RewriteRule !^/opencms/(.*)$ /opencms%{REQUEST_URI} [PT]

  # 8. Rewrite rule to make OpenCms' static export working
  #RewriteCond %{REQUEST_URI} ^/export/.*$
  #RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_FILENAME}" !-f
  #RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_FILENAME}/index_export.html" !-f
  #RewriteRule .* /opencms/handle404?exporturi=%{REQUEST_URI}&%{QUERY_STRING} [PT]

  # 9. Connect to Tomcat using proxy_ajp
  ProxyPreserveHost On
  #ProxyPass /opencms ajp://ec2-52-15-206-52.us-east-2.compute.amazonaws.com:8009/opencms
  #ProxyPass /webdav(.*) ajp://ec2-52-15-206-52.us-east-2.compute.amazonaws.com:8009/webdav$1
  #ProxyPass /VAADIN ajp://ec2-52-15-206-52.us-east-2.compute.amazonaws.com:8009/VAADIN    # required since OpenCms 10
  ProxyPass / ajp://{{ app_server_private_ip }}:8009/
  ProxyPassReverse / ajp://{{ app_server_private_ip }}:8009/
</VirtualHost>